@font-face {
    font-family: "Flaticon";
    src: url("flaticon.eot");
    src: url("flaticon.eot#iefix") format("embedded-opentype"),
        url("flaticon.woff") format("woff"),
        url("flaticon.ttf") format("truetype"),
        url("flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-style: normal;
    font-weight: normal;
}
.flaticon-admin:before {
    content: "\e000";
}
.flaticon-agrar:before {
    content: "\e001";
}
.flaticon-agric:before {
    content: "\e002";
}
.flaticon-agron:before {
    content: "\e003";
}
.flaticon-alerg:before {
    content: "\e004";
}
.flaticon-aliment:before {
    content: "\e005";
}
.flaticon-amb-soc:before {
    content: "\e006";
}
.flaticon-amb:before {
    content: "\e007";
}
.flaticon-anat:before {
    content: "\e008";
}
.flaticon-androl:before {
    content: "\e009";
}
.flaticon-anestesiol:before {
    content: "\e00a";
}
.flaticon-animal:before {
    content: "\e00b";
}
.flaticon-antropol:before {
    content: "\e00c";
}
.flaticon-arqueol:before {
    content: "\e00d";
}
.flaticon-artes:before {
    content: "\e00e";
}
.flaticon-astron:before {
    content: "\e00f";
}
.flaticon-reumatol:before {
    content: "\e010";
}
.flaticon-bibliotecol:before {
    content: "\e011";
}
.flaticon-biodiv:before {
    content: "\e012";
}
.flaticon-biofis:before {
    content: "\e013";
}
.flaticon-bioinf:before {
    content: "\e014";
}
.flaticon-biol-ad:before {
    content: "\e015";
}
.flaticon-biol-celmol:before {
    content: "\e016";
}
.flaticon-biol-comp:before {
    content: "\e017";
}
.flaticon-biol-des:before {
    content: "\e018";
}
.flaticon-biol-evol:before {
    content: "\e019";
}
.flaticon-biol-mar:before {
    content: "\e01a";
}
.flaticon-biol-repr:before {
    content: "\e01b";
}
.flaticon-biol:before {
    content: "\e01c";
}
.flaticon-biomater:before {
    content: "\e01d";
}
.flaticon-bioproc:before {
    content: "\e01e";
}
.flaticon-bioprod:before {
    content: "\e01f";
}
.flaticon-bioquim:before {
    content: "\e020";
}
.flaticon-biorrem:before {
    content: "\e021";
}
.flaticon-bot:before {
    content: "\e022";
}
.flaticon-bt-agr:before {
    content: "\e023";
}
.flaticon-bt-amb:before {
    content: "\e024";
}
.flaticon-bt-ind:before {
    content: "\e025";
}
.flaticon-bt-med:before {
    content: "\e026";
}
.flaticon-cardiol:before {
    content: "\e027";
}
.flaticon-cen:before {
    content: "\e048";
}
.flaticon-ceram:before {
    content: "\e028";
}
.flaticon-cine:before {
    content: "\e029";
}
.flaticon-cintas:before {
    content: "\e02a";
}
.flaticon-cir:before {
    content: "\e02b";
}
.flaticon-climatol:before {
    content: "\e02c";
}
.flaticon-cms:before {
    content: "\e02d";
}
.flaticon-comput:before {
    content: "\e02e";
}
.flaticon-criminol:before {
    content: "\e02f";
}
.flaticon-criobiol:before {
    content: "\e030";
}
.flaticon-salud:before {
    content: "\e031";
}
.flaticon-danza:before {
    content: "\e032";
}
.flaticon-demogr:before {
    content: "\e033";
}
.flaticon-der:before {
    content: "\e034";
}
.flaticon-dermatol:before {
    content: "\e035";
}
.flaticon-des-sus:before {
    content: "\e036";
}
.flaticon-arq:before {
    content: "\e037";
}
.flaticon-ecol:before {
    content: "\e038";
}
.flaticon-econ:before {
    content: "\e039";
}
.flaticon-educ-esp:before {
    content: "\e03a";
}
.flaticon-educ:before {
    content: "\e03b";
}
.flaticon-electroquim:before {
    content: "\e03c";
}
.flaticon-en-alt:before {
    content: "\e03d";
}
.flaticon-endocrinol:before {
    content: "\e03e";
}
.flaticon-enferm:before {
    content: "\e03f";
}
.flaticon-entomol:before {
    content: "\e040";
}
.flaticon-epidemiol:before {
    content: "\e041";
}
.flaticon-estad:before {
    content: "\e042";
}
.flaticon-etica-agr:before {
    content: "\e043";
}
.flaticon-etica-amb:before {
    content: "\e044";
}
.flaticon-etica-bmed:before {
    content: "\e045";
}
.flaticon-etica-med:before {
    content: "\e046";
}
.flaticon-etica:before {
    content: "\e047";
}
.flaticon-exactas:before {
    content: "\e048";
}
.flaticon-familia:before {
    content: "\e049";
}
.flaticon-farmacol:before {
    content: "\e04a";
}
.flaticon-fiabil:before {
    content: "\e04b";
}
.flaticon-filos:before {
    content: "\e04c";
}
.flaticon-fis-atom:before {
    content: "\e04d";
}
.flaticon-fis-campos:before {
    content: "\e04e";
}
.flaticon-fis-flu:before {
    content: "\e04f";
}
.flaticon-fis-mat:before {
    content: "\e050";
}
.flaticon-fis-nucl1:before {
    content: "\e051";
}
.flaticon-fis-quim:before {
    content: "\e052";
}
.flaticon-fis:before {
    content: "\e053";
}
.flaticon-fisiol:before {
    content: "\e054";
}
.flaticon-folk:before {
    content: "\e055";
}
.flaticon-foren:before {
    content: "\e056";
}
.flaticon-forest:before {
    content: "\e057";
}
.flaticon-horticult:before {
    content: "\e058";
}
.flaticon-ganad:before {
    content: "\e059";
}
.flaticon-gastro:before {
    content: "\e05a";
}
.flaticon-gen-hum:before {
    content: "\e05b";
}
.flaticon-gen:before {
    content: "\e05c";
}
.flaticon-genero:before {
    content: "\e05d";
}
.flaticon-genom-proteom:before {
    content: "\e05e";
}
.flaticon-geocs:before {
    content: "\e05f";
}
.flaticon-geofis:before {
    content: "\e060";
}
.flaticon-geogr:before {
    content: "\e061";
}
.flaticon-geol:before {
    content: "\e062";
}
.flaticon-geoquim:before {
    content: "\e063";
}
.flaticon-gerontol:before {
    content: "\e064";
}
.flaticon-gest-adm:before {
    content: "\e065";
}
.flaticon-gest-cul:before {
    content: "\e066";
}
.flaticon-hardw:before {
    content: "\e067";
}
.flaticon-hematol:before {
    content: "\e068";
}
.flaticon-hepatol:before {
    content: "\e069";
}
.flaticon-herpetol:before {
    content: "\e06a";
}
.flaticon-hidrol:before {
    content: "\e06b";
}
.flaticon-mastozool:before {
    content: "\e06c";
}
.flaticon-hist-art:before {
    content: "\e06d";
}
.flaticon-hist:before {
    content: "\e06e";
}
.flaticon-med-clin:before {
    content: "\e06f";
}
.flaticon-hum:before {
    content: "\e070";
}
.flaticon-ictiol:before {
    content: "\e071";
}
.flaticon-idiomas:before {
    content: "\e072";
}
.flaticon-ind-lact:before {
    content: "\e073";
}
.flaticon-info:before {
    content: "\e074";
}
.flaticon-ing-amb:before {
    content: "\e075";
}
.flaticon-ing-arq:before {
    content: "\e076";
}
.flaticon-ing-audio:before {
    content: "\e077";
}
.flaticon-ing-civ:before {
    content: "\e078";
}
.flaticon-ing-com:before {
    content: "\e079";
}
.flaticon-ing-elect:before {
    content: "\e07a";
}
.flaticon-ing-electron:before {
    content: "\e07b";
}
.flaticon-ing-esp:before {
    content: "\e07c";
}
.flaticon-ing-gen-hum:before {
    content: "\e07d";
}
.flaticon-ing-gen:before {
    content: "\e07e";
}
.flaticon-ing-geol:before {
    content: "\e07f";
}
.flaticon-ing-mar:before {
    content: "\e080";
}
.flaticon-ing-mec:before {
    content: "\e081";
}
.flaticon-ing-med:before {
    content: "\e082";
}
.flaticon-ing-nucl:before {
    content: "\e083";
}
.flaticon-ing-quim:before {
    content: "\e084";
}
.flaticon-ing-tecn:before {
    content: "\e085";
}
.flaticon-ing-transp:before {
    content: "\e086";
}
.flaticon-ing-urb:before {
    content: "\e087";
}
.flaticon-inmunol:before {
    content: "\e088";
}
.flaticon-its:before {
    content: "\e089";
}
.flaticon-kinesiol:before {
    content: "\e08a";
}
.flaticon-lab-med:before {
    content: "\e08b";
}
.flaticon-leng:before {
    content: "\e08c";
}
.flaticon-limnol:before {
    content: "\e08d";
}
.flaticon-ling:before {
    content: "\e08e";
}
.flaticon-lit-esp:before {
    content: "\e08f";
}
.flaticon-liter:before {
    content: "\e090";
}
.flaticon-mascotas:before {
    content: "\e091";
}
.flaticon-mat-apl:before {
    content: "\e092";
}
.flaticon-mat-pur:before {
    content: "\e093";
}
.flaticon-mat:before {
    content: "\e094";
}
.flaticon-mater-comp:before {
    content: "\e095";
}
.flaticon-mater:before {
    content: "\e096";
}
.flaticon-med-bas:before {
    content: "\e097";
}
.flaticon-med-dep:before {
    content: "\e098";
}
.flaticon-med-emerg:before {
    content: "\e099";
}
.flaticon-med-gral:before {
    content: "\e09a";
}
.flaticon-med-integ:before {
    content: "\e09b";
}
.flaticon-med-nucl:before {
    content: "\e09c";
}
.flaticon-med-oral:before {
    content: "\e09d";
}
.flaticon-med-trop:before {
    content: "\e09e";
}
.flaticon-gest-sal:before {
    content: "\e09f";
}
.flaticon-medios:before {
    content: "\e0a0";
}
.flaticon-trab-soc:before {
    content: "\e0a1";
}
.flaticon-metales:before {
    content: "\e0a2";
}
.flaticon-meteor:before {
    content: "\e0a3";
}
.flaticon-micol:before {
    content: "\e0a4";
}
.flaticon-microbiol:before {
    content: "\e0a5";
}
.flaticon-min:before {
    content: "\e0a6";
}
.flaticon-mineral:before {
    content: "\e0a7";
}
.flaticon-enf-infec:before {
    content: "\e0a8";
}
.flaticon-mus:before {
    content: "\e0a9";
}
.flaticon-nano:before {
    content: "\e0aa";
}
.flaticon-nanoproc:before {
    content: "\e0ab";
}
.flaticon-neumol:before {
    content: "\e0ac";
}
.flaticon-neurocs:before {
    content: "\e0ad";
}
.flaticon-neurol:before {
    content: "\e0ae";
}
.flaticon-nutr:before {
    content: "\e0af";
}
.flaticon-oceanogr:before {
    content: "\e0b0";
}
.flaticon-oftalmol:before {
    content: "\e0b1";
}
.flaticon-oncol:before {
    content: "\e0b2";
}
.flaticon-opt:before {
    content: "\e0b3";
}
.flaticon-organ:before {
    content: "\e0b4";
}
.flaticon-ornitol:before {
    content: "\e0b5";
}
.flaticon-ortop:before {
    content: "\e0b6";
}
.flaticon-otorrino:before {
    content: "\e0b7";
}
.flaticon-paleontol:before {
    content: "\e0b8";
}
.flaticon-papel:before {
    content: "\e0b9";
}
.flaticon-parasitol:before {
    content: "\e0ba";
}
.flaticon-patol:before {
    content: "\e0bb";
}
.flaticon-pedag:before {
    content: "\e0bc";
}
.flaticon-pedtr:before {
    content: "\e0bd";
}
.flaticon-period:before {
    content: "\e0be";
}
.flaticon-petrol:before {
    content: "\e0bf";
}
.flaticon-fis-nucl:before {
    content: "\e0c0";
}
.flaticon-pint:before {
    content: "\e0c1";
}
.flaticon-pol-sal:before {
    content: "\e0c2";
}
.flaticon-polimer:before {
    content: "\e0c3";
}
.flaticon-polit:before {
    content: "\e0c4";
}
.flaticon-ginecol:before {
    content: "\e0c5";
}
.flaticon-prod-quim:before {
    content: "\e0c6";
}
.flaticon-psicol:before {
    content: "\e0c7";
}
.flaticon-psiq:before {
    content: "\e0c8";
}
.flaticon-transpt:before {
    content: "\e0c9";
}
.flaticon-quim-anal:before {
    content: "\e0ca";
}
.flaticon-quim-col:before {
    content: "\e0cb";
}
.flaticon-quim-fis:before {
    content: "\e0cc";
}
.flaticon-quim-inorg:before {
    content: "\e0cd";
}
.flaticon-quim-med:before {
    content: "\e0ce";
}
.flaticon-quim-nucl:before {
    content: "\e0cf";
}
.flaticon-quim-org:before {
    content: "\e0d0";
}
.flaticon-quim:before {
    content: "\e0d1";
}
.flaticon-radio-tv:before {
    content: "\e0d2";
}
.flaticon-rec-hidr:before {
    content: "\e0d3";
}
.flaticon-rec-pesq:before {
    content: "\e0d4";
}
.flaticon-relac-int:before {
    content: "\e0d5";
}
.flaticon-relig:before {
    content: "\e0d6";
}
.flaticon-repr-asist:before {
    content: "\e0d7";
}
.flaticon-robot:before {
    content: "\e0d8";
}
.flaticon-nanomat:before {
    content: "\e0d9";
}
.flaticon-sal-ocup:before {
    content: "\e0da";
}
.flaticon-sal-publ:before {
    content: "\e0db";
}
.flaticon-escult:before {
    content: "\e0dc";
}
.flaticon-sens-remotos:before {
    content: "\e0dd";
}
.flaticon-soc-med:before {
    content: "\e0de";
}
.flaticon-soc:before {
    content: "\e0df";
}
.flaticon-sociol:before {
    content: "\e0e0";
}
.flaticon-acust:before {
    content: "\e0e1";
}
.flaticon-sedimentol:before {
    content: "\e0e2";
}
.flaticon-epistemol:before {
    content: "\e0e3";
}
.flaticon-suelo:before {
    content: "\e0e4";
}
.flaticon-sust:before {
    content: "\e0e5";
}
.flaticon-teatro:before {
    content: "\e0e6";
}
.flaticon-teor-art:before {
    content: "\e0e7";
}
.flaticon-termod:before {
    content: "\e0e8";
}
.flaticon-text:before {
    content: "\e0e9";
}
.flaticon-tierra:before {
    content: "\e0ea";
}
.flaticon-automat:before {
    content: "\e0eb";
}
.flaticon-toxicol:before {
    content: "\e0ec";
}
.flaticon-transpl:before {
    content: "\e0ed";
}
.flaticon-turismo:before {
    content: "\e0ee";
}
.flaticon-urb:before {
    content: "\e0ef";
}
.flaticon-urol:before {
    content: "\e0f0";
}
.flaticon-vet:before {
    content: "\e0f1";
}
.flaticon-virol:before {
    content: "\e0f2";
}
.flaticon-vulcanol:before {
    content: "\e0f3";
}
.flaticon-teor-lit:before {
    content: "\e0f4";
}
.flaticon-zool:before {
    content: "\e0f5";
}